
$breakpoint: 1200px;

// slick slideshow default styles
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	user-select: none;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list {
	// position: relative;
	position: absolute;
		top: 0; left: 0;
	width: 100%;
	height: 100%;

	@media screen and (max-width: $breakpoint) {
		position: static;
	}

	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;

	&:focus {
		outline: none;
	}

	&.dragging {
		cursor: pointer;
		cursor: hand;
	}
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	transform: translate3d(0, 0, 0);
}

.slick-track {
	// position: relative;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	@media screen and (max-width: $breakpoint) {
		position: static;
		display: flex;
		min-height: calc(100vh - 88px);
	}

	@media screen and (max-width: 500px) {
		min-height: calc(100vh - 65px);
	}

	display: block;
	margin-left: auto;
	margin-right: auto;

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}

	.slick-loading & {
		visibility: hidden;
	}
}
.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	[dir="rtl"] & {
		float: right;
	}
	img {
		display: block;
	}
	&.slick-loading img {
		display: none;
	}

	display: none;

	&.dragging img {
		pointer-events: none;
	}

	.slick-initialized & {
		display: block;
	}

	.slick-loading & {
		visibility: hidden;
	}

	.slick-vertical & {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
}
.slick-arrow.slick-hidden {
	display: none;
}

// custom slider styles
#mosaic-map-slideshow {
	background-color: #8bcbee;
	width: 100%;
	// height: 100vh;
	position: relative;
	// display: flex;
	// width: 5005px;



	&:before {
		content: '';
		display: block;
		padding-bottom: 50.5%;

		@media screen and (max-width: $breakpoint) {
			display: none;
		}
	}



	b { font-weight: bold; }

	.slide {
		width: 100%;
		height: 100%;
		background-size: contain;
		background-position: 50% 0;
		background-repeat: no-repeat;


		@media screen and (max-width: $breakpoint) {
			height: auto;
			background-size: cover;
			background-position: 50%;
		}

		margin-top: 0 !important;
		min-height: 0 !important;

		z-index: 1;
		display: block;
		position: relative;

		.container {
			height: 100%;
			position: relative;

			@media screen and (max-width: $breakpoint) {
				// position: static;
				padding: 0 40px;
				position: absolute;
					top: 0; left: 50%;
				width: 100%;
				transform: translateX(-50%);
			}
		}

		&__text {
			max-width: 375px;
			margin-top: 55px;
			color: #000;
			font-size: 20px;
			padding-top: 56px;

			@media screen and (max-width: $breakpoint) {
				font-size: 12px;
				margin-top: 20px;
				padding-top: 0;
			}

			h1 {
				font-size: 40px;
				text-transform: uppercase;
				font-weight: bold;
				// margin-bottom: 20px;
				margin-bottom: 10px;
				line-height: 1;
				letter-spacing: -.2px;

				@media screen and (max-width: $breakpoint) {
					font-size: 23px;
					// margin-bottom: 10px;
				}

				&:before {
					content: '';
					display: block;
					width: 35px;
					height: 11px;
					margin-bottom: 10px;
					background-color: #dc7801;
				}
			}

			p {
				line-height: 1.1;
			}

			hr {
				border: 0;
				border-top: 1px solid;
			}
		}

		&__legend {
			padding: 10px 15px;
			background-color: rgba(#fff, .5);
			font-size: 14px;
			line-height: 1;
			text-transform: uppercase;
			display: inline-block;
			position: absolute;
			left: 20px;
			bottom: 152px;

			@media screen and (min-width: 768px) {
				left: 0;
			}

			@media screen and (max-width: $breakpoint) {
				// position: static;
				// margin: 20px 0;
				left: 40px;
				bottom: 60px;
				font-size: 10px;
			}

			li {
				margin-bottom: 5px;

				&:last-child { margin-bottom: 0; }

				&.has-circle {
					padding-left: 15px;
					position: relative;

					&:before {
						content: '';
						width: 10px;
						height: 10px;
						border-radius: 50%;
						background-color: #000;
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
					}

					&:nth-child(1):before { background-color: #b74a15; }
					&:nth-child(2):before { background-color: #ffb506; }
					&:nth-child(3):before { background-color: #1d953e; }
					&:nth-child(4):before { background-color: #b74a15; }
					&:nth-child(5):before { background-color: #2f373c; }
				}
			}

			&--shipments li.has-circle {
				&:nth-child(1):before { background-color: #b94b16; }
				&:nth-child(2):before { background-color: #8aa53e; }
				&:nth-child(3):before { background-color: #1a7592; }
			}
		}
	}

	.slide--0,
	.slide--5 {
		.slide__legend {
			left: auto;
			right: 0;

			@media screen and (max-width: $breakpoint) {
				right: 40px;
			}
		}
	}


	.slide--2 {
		.slide__legend {
			@media screen and (max-width: 500px) {
				bottom: 170px;
			}
		}
	}

	.slide--4 {
		.slide__text {
			max-width: 605px;
		}
	}

	.slide--5 {
		.slide__text {
			margin-left: auto;
			max-width: 465px;
		}
	}

	.slide--0 {
		.slide__text {
			margin-left: auto;
			margin-right: auto;
		}
	}



	.slick-arrow {
		width: 30px;
		height: 60px;
		position: absolute;
		top: 50%;
		// transform: translate3d(0, -50%, 0);
		z-index: 2;
		cursor: pointer;
		background: url(images/left-arrow.png) no-repeat;
		background-size: cover;
		transition: background 200ms ease-in-out;

		@media screen and (max-width: $breakpoint) {
			width: 15px;
			height: 30px;
		}

		&.slick-prev {
			left: 20px;
			@media screen and (max-width: $breakpoint) {
				left: 10px;
			}
		}

		&.slick-next {
			right: 20px;
			background-image: url(images/right-arrow.png);
			@media screen and (max-width: $breakpoint) {
				right: 10px;
			}
		}
	}

	.slick-dots {
		display: flex;
		flex-direction: row;
		appearance: none;
		justify-content: center;
		transform: translate3d(0,-100%,0);
		margin-top: -10px;
		position: absolute;
			bottom: 70px; left: 0;
		width: 100%;
		height: 20px;

		@media screen and (max-width: $breakpoint) {
			bottom: 0;
		}

		li {
			margin: 0 5px;

			&.slick-active {
				button {
					background: #f1f2f2;
				}
			}
		}

		button {
			width: 14px;
			height: 14px;
			border-radius: 50%;
			overflow: hidden;
			text-indent: -9999px;
			border: none;
			outline: none;
			cursor: pointer;
			padding: 0;
			background-color: transparent;
			border: 2px solid #f1f2f2;
		}
	}
}
